@using CodingEvents.ViewModels;
@model AddEventCategoryViewModel;


<h1>Add Event Category</h1>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="EventCategory" asp-action="Add">Create Category</a>
</li>

<form asp-controller="EventCategory" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
 
    <input type="submit" value="Create Event Category" />
</form>